*/quellen/*.pdf
*/quellen/priv/*.pdf
*$py.class
*.aux
*.bbl
*.bcf
*.blg
*.cover
*.egg
*.egg-info/
*.fdb_latexmk
*.fls
*.ilg
*.lcov
*.lof
*.log
*.lot
*.manifest
*.mo
*.njsproj
*.nlo
*.nls*
*.ntvs*
*.out
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.pyc
*.run.xml
*.sage.py
*.seed
*.sln
*.so
*.spec
*.sub
*.suc
*.suo
*.sw?
*.syc
*.sym
*.synctex.gz
*.tgz
*.toc
*.tsbuildinfo
*/__pycache__/*
.cache
.cache/
.coverage
.coverage.*
.dmypy.json
.DS_Store
.dynamodb/
.eggs/
.env
.env.*.local
.env.local
.env.test
.eslintcache
.fusebox/
.grunt
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.scrapy
.serverless/
.spyderproject
.spyproject
.tern-port
.texpadtmp/
.tox/
.venv
.vscode
.vuepress/dist
.webassets-cache
.yarn-integrity
/dist
/site
__pycache__/
__pypackages__/
bower_components
build/
build/Release
celerybeat.pid
celerybeat-schedule
coverage
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
django/apiapp/migrations/*
django/staticfiles/*
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib/
lib64/
lib-cov
local_settings.py
logs
MANIFEST
node_modules
node_modules/
nosetests.xml
npm-debug.log*
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
pnpm-debug.log*
profile_default/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
target/
typings/
var/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
